@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}

html {
  overflow-x: hidden;
}

body.dark {
  --light: #0c0c1e;
  --grey: #060714;
  --dark: #fbfbfb;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

.logo {
  background-image: url("../images/PTITBANK.png");
  background-size: contain;
  width: 40px;
  height: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 20px;
}

/* SIDEBAR */
#sidebar {
  padding-top: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 2000;
  font-family: var(--lato);
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}

#sidebar::--webkit-scrollbar {
  display: none;
}

#sidebar.hide {
  width: 60px;
}

#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: rgb(237, 28, 36);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}

#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}

#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}

#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

#sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}

#sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}

#sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}

#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}

#sidebar .side-menu.top li.active a {
  color: var(--blue);
}

#sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}

#sidebar .side-menu li a.logout {
  color: var(--red);
}

#sidebar .side-menu.top li a:hover {
  color: var(--blue);
}

#sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}

#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}

#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}

#content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

#content nav i {
  display: flex;
  align-items: center;
}

#content nav img {
  display: flex;
}

#content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}

#content nav a {
  color: var(--dark);
}

#content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}

#content nav .nav-link {
  font-size: 16px;
  transition: 0.3s ease;
}

#content nav .nav-link:hover {
  color: var(--blue);
}

#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

#content nav .profile {
  display: block;
  margin-left: auto;
}

#content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

/* NAVBAR */

/* MAIN */
#content main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}

#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

#content main .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}

#content main .head-title .left .breadcrumb li {
  color: var(--dark);
}

#content main .head-title .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}

#content main .head-title .left .breadcrumb li a.active {
  color: var(--blue);
  pointer-events: unset;
}

.breadcrumb:before {
  display: none !important;
}

#content main .head-title .btn-download {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--blue);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
}

#content main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}

.main-account-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}

.main-account .left-content {
  background-image: url("../images/PTITBANK.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-right: 10px;
}

#content main .box-info li,
.transaction-query {
  box-shadow: 0 0 1rem #0003;
  border-radius: 20px;
  padding: 24px;
  background: var(--light);
}

#content main .box-info li .my-account {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 24px;
}

.current-info {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;
}

.current-info-item {
  display: flex;
  width: 45%;
  border-radius: 6px;
  border: solid 1px #cccccc;
  padding: 14px 16px;
  align-items: center;
}

.current-info-item .left-content {
  margin-right: 5px;
  height: 51px;
  width: 50px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.current-info-item .right-content .up-content,
.card .right-content {
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.43px;
  color: #646464;
}

.current-info-item .right-content .down-content {
  display: flex;
  align-items: center;
}

.current-info-item .right-content .down-content .balance {
  font-size: 20px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.35px;
  color: #141ed2;
}

.current-info-item .right-content .down-content .currency {
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.43px;
  color: #646464;
  margin-left: 5px;
}

.total-value .left-content {
  background-image: url("../images/total.svg");
}

.total-value .up-content {
  display: flex;
  align-items: center;
}

.eye {
  margin-left: 5px;
  font-size: 15px;
  display: none;
  cursor: pointer;
}

.eye.active {
  display: block;
}

.card .left-content {
  background-image: url("../images/card.svg");
}

.saving .left-content {
  background-image: url("../images/saving.svg");
}

.loan .left-content {
  background-image: url("../images/loan.svg");
}

#content main .box-info li .my-account .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content main .box-info li:nth-child(1) .my-account .bx {
  background: var(--light-blue);
  color: var(--blue);
}

#content main .box-info li:nth-child(2) .bx {
  background: var(--light-yellow);
  color: var(--yellow);
}

#content main .box-info li:nth-child(3) .bx {
  background: var(--light-orange);
  color: var(--orange);
}

#content main .box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}

#content main .box-info li .text p {
  color: var(--dark);
}

.transaction-query {
  margin-top: 50px;
}

.transaction-query .title {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}

.search-title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  margin: 10px 0;
}

.account-number-wrapper,
.time-wrapper,
.time-detail {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.time-detail {
  margin-bottom: 0;
}

.arrow-icon {
  background-image: url("../images/arrow-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 24px;
  height: 25px;
  margin: 0 10px;
}

.account-number-text,
.time-text {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.5px;
  color: #646464;
  width: 230px;
}

.account-number-detail,
.time-start,
.time-end {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border-radius: 6px;
  border: solid 1px #c4c4c4;
  background-color: #f7f7f7;
  padding: 0.375rem 0.75rem;
}

.time-start,
.time-end {
  width: 112px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.time-start input,
.time-end input {
  height: 100% !important;
  font-size: 14px !important;
  border: none !important;
  margin: 0 !important;
  text-align: center !important;
  color: #495057 !important;
  font-weight: 500 !important;
}

.query {
  background-color: #141ed2;
  border: 1px solid #141ed2;
  padding: 6px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #fff;
  border-radius: 0.25rem;
  font-size: 14px;
  cursor: pointer;
}

.query:hover {
  background-color: #fff;
  color: #141ed2;
}

.logo-bank {
  background-image: url("../images/PTITBANK.png");
  width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
}

.fullname {
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.5px;
  color: #000;
  text-transform: uppercase;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.account-number {
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.5px;
  color: #646464;
}

.query-result {
  margin-top: 20px;
  height: auto;
}

.query-result-table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.query-result-table td,
.query-result-table th {
  border: 1px solid #ddd;
  padding: 8px;
  font-weight: 500;
}

.query-result-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.query-result-table tr:hover {
  background-color: #ddd;
}

.query-result-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: #000;
}

.pagination {
  display: flex;
  float: right;
  margin-bottom: 10px;
}

.pagination-item {
  color: gray;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.pagination-item.active {
  color: #000;
  pointer-events: none;
  border: 1px solid #cccccc;
  text-align: center;
}

.logout {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  margin-left: 6px;
  cursor: pointer;
}

.logout:hover {
  color: red;
}

/* MAIN */
/* CONTENT */

@media screen and (max-width: 768px) {
  #sidebar {
    width: 200px;
  }

  #content {
    width: calc(100% - 60px);
    left: 200px;
  }

  #content nav .nav-link {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  #content nav form.show ~ .profile {
    display: none;
  }

  #content main .box-info {
    grid-template-columns: 1fr;
  }
}
