<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/PTITBANK.png') }}"
    />

    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- My CSS -->
    <link rel="stylesheet" href="../static/css/change_email.css" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Cài đặt</title>
    <style>
      .error-message .danger {
        color: red;
      }

      .error-message .success {
        color: green;
      }
      .icon {
        width: 14px;
        height: 14px;
        fill: currentColor;
        vertical-align: middle;
        margin-right: 0.25rem;
      }

      .eye-icon {
        position: absolute;
        top: 56.7%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #000;
        display: none;
        right: 715px;
      }

      .show-new-password,
      .hide-new-password {
        top: 66%;
      }
    </style>
  </head>
  <body>
    <!-- SIDEBAR -->
    <section id="sidebar">
      <a href="/" class="brand">
        <div class="logo"></div>
        <span class="text">PTITBANK</span>
      </a>
      <ul class="side-menu top">
        <li>
          <a href="/">
            <i class="bx bxs-dashboard"></i>
            <span class="text">Trang chủ</span>
          </a>
        </li>
        <li>
          <a href="/account/profile">
            <i class="bx bxs-info-circle"></i>
            <span class="text">Thông tin tài khoản</span>
          </a>
        </li>
        <li>
          <a href="/account/transfer-money">
            <i class="bx bx-transfer"></i>
            <span class="text">Chuyển tiền</span>
          </a>
        </li>
        <li>
          <a href="/account/credit-score">
            <i class="bx bxs-gift"></i>
            <span class="text">Đổi điểm thưởng</span>
          </a>
        </li>
        <li class="active">
          <a href="/account/settings">
            <i class="bx bxs-cog"></i>
            <span class="text">Cài đặt</span>
          </a>
        </li>
        <form action="{{ url_for('auth.logout') }}" method="POST">
          <li>
            <button type="submit" class="logout">
              <i class="bx bxs-log-out-circle"></i>
              <span class="text">Đăng xuất</span>
            </button>
          </li>
        </form>
      </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
      <!-- NAVBAR -->
      <nav>
        <i class="bx bx-menu"></i>
        <a href="#" class="nav-link">Danh mục</a>
        <a href="/account/profile" class="profile">
          <img src="../static/images/avatar_user.png" />
        </a>
      </nav>
      <!-- NAVBAR -->

      <!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left">
            <h1>Đổi mật khẩu</h1>
            <ul class="breadcrumb">
              <li>
                <a href="#">Đổi mật khẩu</a>
              </li>
            </ul>
          </div>
        </div>

        <form action="/account/change-password" method="post">
          <div class="transaction-query">
            <div class="title">Đổi mật khẩu</div>
            <div class="account-number-wrapper">
              <div class="account-number-text">Mật khẩu cũ</div>
              <div class="account-number-detail">
                <input id="old_password" type="password" name="old_password" />
              </div>
              <span class="eye-icon show-old-password">
                <i class="fa-solid fa-eye"></i>
              </span>
              <span class="eye-icon hide-old-password">
                <i class="fa-solid fa-eye-slash"></i>
              </span>
            </div>
            <div class="account-number-wrapper">
              <div class="account-number-text">Mật khẩu mới</div>
              <div class="account-number-detail">
                <input id="new_password" type="password" name="new_password" />
              </div>
              <span class="eye-icon show-new-password">
                <i class="fa-solid fa-eye"></i>
              </span>
              <span class="eye-icon hide-new-password">
                <i class="fa-solid fa-eye-slash"></i>
              </span>
            </div>
            <div class="account-number-wrapper">
              <div class="account-number-text">Mã xác thực</div>
              <div class="account-number-detail">
                <input type="text" name="verification_code" />
              </div>
            </div>
            <p class="error-message" id="errorMessage">
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %} {% for category, message in messages %}
              <span class="{{ category }}">{{ message }}</span>
              {% endfor %} {% endif %} {% endwith %}
            </p>
            <button type="submit" class="my-info-confirm confirm-update-btn">
              Cập nhật mật khẩu
            </button>
          </div>
        </form>
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <script src="../static/js/home.js"></script>
    <script>
      const oldPasswordField = document.getElementById("old_password");
      const showOldPasswordIcon = document.querySelector(".show-old-password");
      const hideOldPassWordIcon = document.querySelector(".hide-old-password");

      oldPasswordField.oninput = function () {
        if (oldPasswordField.value !== "")
          showOldPasswordIcon.style.display = "inline";
        else showOldPasswordIcon.style.display = "none";
      };

      hideOldPassWordIcon.style.display = "none";

      showOldPasswordIcon.onclick = function () {
        oldPasswordField.type = "text";
        showOldPasswordIcon.style.display = "none";
        hideOldPassWordIcon.style.display = "inline";
      };

      hideOldPassWordIcon.onclick = function () {
        oldPasswordField.type = "password";
        showOldPasswordIcon.style.display = "inline";
        hideOldPassWordIcon.style.display = "none";
      };

      const newPasswordField = document.getElementById("new_password");
      const showNewPasswordIcon = document.querySelector(".show-new-password");
      const hideNewPasswordIcon = document.querySelector(".hide-new-password");

      newPasswordField.oninput = function () {
        if (newPasswordField.value !== "")
          showNewPasswordIcon.style.display = "inline";
        else showNewPasswordIcon.style.display = "none";
      };

      hideNewPasswordIcon.style.display = "none";

      showNewPasswordIcon.onclick = function () {
        newPasswordField.type = "text";
        showNewPasswordIcon.style.display = "none";
        hideNewPasswordIcon.style.display = "inline";
      };

      hideNewPasswordIcon.onclick = function () {
        newPasswordField.type = "password";
        showNewPasswordIcon.style.display = "inline";
        hideNewPasswordIcon.style.display = "none";
      };
    </script>
  </body>
</html>
